/* @override 
	http://localhost:8888/create2017.css */

/* Uses the Metropolis typeface by Chris Simpson, https://github.com/chrismsimpson/Metropolis */
@import "fonts/metropolis.css";

body {
	font-family: "Metropolis", -apple-system, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

#content-wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.disconnected .connected-only {
	display: none;
}

.disconnected .connected-only {
	display: none;
}

.has-wifi .no-wifi-only {
	display: none;
}

.no-wifi .has-wifi-only {
	display: none;
}

a {
	color: inherit;
}

#chrome {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: white;
}

.hidden {
	display: none !important;
}

.screen, #text-input, #notify, #help, #ask {
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	opacity: 0;
	transition: transform 0.5s cubic-bezier(.18,0,0,1), opacity 0.5s cubic-bezier(.18,0,0,1);
	display: none;
}

.screen.block, #text-input.block, #help.block {
	display: block;
}

.at-background .screen {
	display: none;
}

.screen.right {
	transform: translateX(50px);
}

.screen.left {
	transform: translateX(-50px);
}

#text-input.bottom, #help.bottom {
	transform: translateY(100%);
	opacity: 1;
}

.screen.visible, #text-input.visible, #help.visible, #notify.visible {
	opacity: 1;
}

header {
	display: flex;
	height: 50px;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	background-color: white;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.05);
	padding: 0px 42px;
	position: relative;
	z-index: 1;
}

header h1 {
	padding-left: 0.15em;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-size: 1em;
	flex-grow: 1;
	text-align: center;
	font-weight: 600;
	position: relative;
}

/*header:after {
	background-image: linear-gradient(to bottom, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0.738) 19%, hsla(0, 0%, 0%, 0.541) 34%, hsla(0, 0%, 0%, 0.382) 47%, hsla(0, 0%, 0%, 0.278) 56.5%, hsla(0, 0%, 0%, 0.194) 65%, hsla(0, 0%, 0%, 0.126) 73%, hsla(0, 0%, 0%, 0.075) 80.2%, hsla(0, 0%, 0%, 0.042) 86.1%, hsla(0, 0%, 0%, 0.021) 91%, hsla(0, 0%, 0%, 0.008) 95.2%, hsla(0, 0%, 0%, 0.002) 98.2%, hsla(0, 0%, 0%, 0) 100%);
	position: absolute;
	right: 0;
	left: 0;
	height: 10px;
	content: "";
	top: 50px;
	opacity: 0.04;
	z-index: 0;
}*/


.header-beo {
	width: 160px;
	margin-left: auto;
	margin-right: auto;
}

.beo {
	width: 200px;
	margin-top: 1em;
	margin-bottom: 2em;
}

#about-top-box {
	margin-bottom: 30vh;
	margin-top: 28vh;
}

header .symbol-button.left {
	margin-left: -32px;
	margin-right: -10px;
}

header .symbol-button.right {
	margin-right: -32px;
	margin-left: -10px;
}


.scroll-area {
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	position: absolute;
	top: 50px;
	padding: 0 20px 70px;
	left: 0;
	right: 0;
	bottom: 0;
}

.menu-group {
	margin-top: 15px;
	margin-bottom: 1.5em;
	position: relative;
}

.hero-image {
	display: block;
	width: 100%;
}

.hero-text-wrap {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	right: 20px;
	left: 20px;
	top: 0;
	bottom: 0;
}

.colour-area {
	color: white;
	position: relative;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 0;
	-webkit-font-smoothing: antialiased;
	max-height: 60vh;
	overflow: hidden;
}

.menu-group.colour-area {
	padding: 20px;
}

.menu-group.yellow {
	background-color: #ffe200;
	color: black;
}

.menu-group.green {
	background-color: #d9f7f5;
	color: black;
}

.menu-group.no-padding {
	padding-top: 0;
	padding-bottom: 0;
}

.spacer {
	height: 1em;
}

.scroll-area h1 {
	font-weight: 600;
	font-size: 1.4em;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

h2 {
	font-size: 0.75em;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-weight: 600;
	margin-top: 0;
}

.center {
	text-align: center;
}

section.icon {
	display: flex;
	align-items: flex-start;
	margin-bottom: 0.8em;
}

section.icon .section-icon {
	margin-right: 10px;
}

p {
	font-size: 0.75em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	font-weight: 400;
	flex-grow: 1;
	line-height: 1.4em;
}

p img {
	vertical-align: -40%;
}

.grey {
	color: silver;
}

p:last-child {
	margin-bottom: 0;
}

p.larger {
	font-size: 1em;
	font-weight: 600;
}

span.bold {
	font-weight: 600;
}

p .number {
	display: inline-block;
	background-color: black;
	color: white;
	font-weight: 600;
	width: 1.5em;
	height: 1.5em;
	padding-top: 0.1em;
	text-align: center;
	border-radius: 1em;
	box-sizing: border-box;
	margin-right: 0.5em;
}

p, h1, h2 {
	user-select: none;
	-webkit-user-select: none;
}



.button {
	transition: filter 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease, background-color 0.5s ease, opacity 0.3s ease;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}

.symbol-button {
	transition: filter 0.5s ease, opacity 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
	padding: 10px;
	margin: -10px;
	cursor: pointer;
}

.symbol-button:active {
	transform: scale(0.9);
	transition: none;
}

.symbol-button.disabled {
	opacity: 0.3;
}

.button:active {
	filter: brightness(0.7);
/*	transform: scale(0.98);*/
	box-shadow: none;
	transition: none;
}

.can-disable {
	transition: opacity 0.5s ease;
}

.button.disabled, .symbol-button.disabled, .can-disable.disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.1;
}

#multi-button {
	background-color: #003d4c;
	color: white;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.1em;
	border-radius: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 1em;
	padding-left: 0.7em;
	text-align: center;
}

#multi-button.disabled {
	background-color: #ddd;
/*	opacity: 0.95;*/
	opacity: 1;
}

#multi-button.hidden {
	display: block !important;
	pointer-events: none;
	opacity: 0;
	transform: translateY(100%);
}

#multi-button img {
	filter: invert(1);
	margin-top: -10px;
	margin-bottom: -6px;
	margin-right: 1em;
	display: none;
}

#multi-button.load {
	background-color: black;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

#multi-button.load img {
	display: inline-block;
}

.menu-icon {
	width: 22px !important;
	height: 22px !important;
}

.menu-item {
	display: flex;
	margin-left: -20px;
	margin-right: -20px;
	padding: 12px 20px;
	transition: background-color 0.5s ease;
	user-select: none;
	-webkit-user-select: none;
	flex-flow: row wrap;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.one-row {
	display: flex;
	flex-flow: row;
	width: 100%;
	align-items: center;
}

.menu-item.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.menu-item.static {
	pointer-events: none;
}

.menu-item p {
	margin-top: 0.5em;
}

.menu-item:active {
	background-color: rgba(138, 124, 83, 0.3);
	transition: none;
}

.icon.left .menu-icon {
	margin-right: 15px;
}

.menu-icon.right {
	margin-right: 0 !important;
	margin-left: 15px;
}

.menu-item .menu-icon.large {
	width: 44px !important;
	height: 44px !important;
}

.menu-label {
	margin-right: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 600;
}

.menu-value {
	overflow: hidden;
	font-size: 0.7em;
	margin-top: 0.5em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	opacity: 0.5;
}

.menu-toggle {
	display: flex;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.1em;
	font-size: 0.8em;
}

.menu-toggle div:last-of-type {
	opacity: 0.2;
	margin-left: 0.2em;
}

.on .menu-toggle div:first-of-type {
	opacity: 0.2;
}

.on .menu-toggle div:last-of-type {
	opacity: 1;
}


.red {
	color: #de6c3d;
	opacity: 1;
}

.icon.left .menu-value, .icon.left p {
	margin-left: 37px;
}

.icon.left .unified-label-value .menu-value {
	margin-left: 0;
}

.unified-label-value {
	flex-grow: 1;
}

.wifi-available-item .menu-value, .wifi-saved-item .menu-value {
	display: none;
}

.wifi-available-item.added .menu-value, .wifi-saved-item.wrong-password .menu-value {
	display: block;
}

.wifi-available-item .lock {
	display: none;
}

.wifi-available-item.secure .lock {
	display: inline-block;
}

.menu-item.checkmark img.checkmark, .menu-item.radio img.checkmark {
	visibility: hidden;
}

.menu-item.checkmark.selected img.checkmark, .menu-item.radio.selected img.checkmark {
	visibility: visible;
}

.saved-products-list.delete-mode .menu-item.radio .menu-icon.checkmark {
	visibility: visible;
}

.saved-products-list.delete-mode .menu-item.radio.selected {
	opacity: 0.5;
	pointer-events: none;
}

#text-input, #help {
	background-color: white;
	z-index: 2;
	top: 10px;
	border-radius: 3px;
	box-shadow: 0 0px 15px rgba(0,0,0,0.1);
}

#text-input p {
	text-align: center;
}

#text-input header {
	background-color: transparent;
}

input {
	font-family: inherit;
	font-weight: 400;
}

input[type=submit] {
	position: absolute;
	top: -50px;
	visibility: hidden;
}

input[type=text], input[type=password] {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid silver;
	padding: 0.5em 0;
	font-size: 1em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	outline: none;
	width: 100%;
	max-width: 320px;
	border-radius: 0;
}

#text-input input[type=text], #text-input input[type=password] {
	display: none;
}

#text-input.text input[type=text] {
	display: block;
}

#text-input.password input[type=password] {
	display: block;
}

.range-icons img {
	width: 22px;
	height: 44px;
}

.range-icons {
	display: flex;
}

.range-icons .left {
	margin-right: 10px;
}

.range-icons .right {
	margin-left: 10px;
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	height: 10px;
	width: 100%;
	background-color: #eee;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: white;
	border: none;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	margin-top: -15px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.2), 0px 3px 7px rgba(0,0,0,0.2);
}

#notify, #ask {
/*	background-color: rgba(255,255,255,0.95);*/
	background-color: white;
	z-index: 3;
}

#notify {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#notify-wrap {
	text-align: center;
	width: 280px;
	padding-bottom: 20px;
}

#notify img {
	width: 44px;
	height: 44px;
	flex-shrink: none;
}

img.load-animate, .load img {
	-webkit-animation: rotation 2s linear infinite;
	animation: rotation 2s linear infinite;
}

@keyframes rotation {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

@-webkit-keyframes rotation {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}

#notify h1 {
	font-size: 1.2em;
	margin-bottom: 0;
}

#notify p {
	font-size: 0.75em;
	margin-top: 0.5em;
}

#ask {
	flex-direction: column;
	justify-content: flex-end;
}

#ask.block, #notify.block {
	display: flex;
}

#ask.visible {
	opacity: 1;
}

#ask-wrap {
	padding: 20px;
	transition: transform 0.5s cubic-bezier(.18,0,0,1);
	transform: translateY(100%);
	margin-right: auto;
	margin-left: auto;
}

.visible #ask-wrap {
	transform: none;
}

#ask-menu-store {
	display: none;
}


@media screen and (min-width: 480px) {
    #content-wrap {
        display: flex;
		justify-content: center;
		flex-direction: row;
		align-items: center;
		/*bottom: 10px;*/
    }
    
    .colour-area {
		margin: -4% -6% 5%;
	}
	
	.menu-group.colour-area {
		margin: inherit;
	}
	
	header {
		height: 70px;
	}
    
    #multi-button {
    	width: 400px;
		margin-left: auto;
		margin-bottom: 10px;
		margin-right: auto;
		border-radius: 3px;
	}
	
	.menu-item {
		border-radius: 3px;
		
	}
	
	.menu-group {
		width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.scroll-area {
		margin-right: auto;
		margin-left: auto;
		padding: 3% 5% 10%;
		top: 70px;
	}
	
	#ask {
		padding: 3% 5% 5%;
	}
	
	#ask-wrap {
		width: 400px;
	}
	
	.colour-area h1 {
		font-size: 2em;
	}
	
	/*#chrome {
		width: 400px;
		max-height: 600px;
		height: 80vh;
		box-shadow: 0 10px 30px rgba(0,0,0,0.1);
		border-radius: 3px;
	}*/
	

}

@media screen and (min-width: 700px) {
	
	.colour-area h1 {
		font-size: 2.7em;
		margin-top: 0.1em;
	}
	
	.colour-area.max-height {
		max-height: calc(100vh - 60px);
	}
	
}