/* @override http://beocreate-core.local/extensions/product-information/product-information.css */
	
#product-overview {
	text-align: center;
	/*padding-bottom: 4rem;*/
	padding-top: 10px;
	height: 100%;
}

.setup #product-overview {
	padding-bottom: 1rem;
}

.product-overview-image-wrap, 
#about-logos {
	/*background-color: #f5f5f5;*/
	/*background-color: var(--spindle);*/
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}


.product-identity-collection .collection-item-content:after {
	content: "Select";
}

#product-overview-image-wrap-inline, 
#about-logos {
	/*background-color: var(--spindle);*/
	height: 55%;
	margin-bottom: 5%;
}

.no-touch #product-overview {
	/*padding-top: 20px;*/
}


.product-overview-image {
	max-height: 500px;
	max-width: 500px;
	height: 100%;
	width: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
}

.product-overview-image.visible {
	opacity: 1;
	transition: opacity 0.7s ease;
}

#product-identity-area, #about-texts {
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}


#product-overview h2.model-name {
	margin-top: 0;
	height: auto;
	margin-bottom: 0.8em;
}

#about-product {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#about-logos {
	display: flex;
	flex-direction: column;
	align-items: center;
}


#about-texts {
	max-width: 320px;
}

.hifiberry-os #about-logos {
	flex-direction: column-reverse;
}

.create-logo {
	width: 200px;
	height: 66px;
	margin-bottom: 1rem;
	background-color: currentColor;
	mask-size: contain;
	-webkit-mask-size: contain;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
}

.hifiberry-os .create-logo {
	width: 120px;
	margin-bottom: 0;
	margin-top: 0;
	display: none;
}

.dark .create-logo {
	/*filter: invert();*/
}

.hifiberry-logo {
	width: 120px;
	height: 32px;
	display: block;
	background-color: currentColor;
	mask-size: contain;
	-webkit-mask-size: contain;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.hifiberry-os .hifiberry-logo {
	width: 200px;
	height: 54px;
	display: block;
	margin-top: 0;
	background-color: #e11e42;
}

.beo-logo {
	width: 180px;
	margin-bottom: 1em;
	margin-top: 1.5em;
}



span.collab-x {
	font-size: 0.7em;
	margin-right: 0.2em;
	margin-left: 0.2em;
}

h1#os-name-hifiberry-os {
	display: none;
}

.hifiberry-os h1#os-name-hifiberry-os {
	display: block;
}

.hifiberry-os h1#os-name-beocreate {
	display: none;
}

p.about-line-0 {
	margin-bottom: 0;
	/*display: none;*/
	font-weight: 500;
	color: inherit;
}

.hifiberry-os p.about-line-0 {
	display: block;
}

p.about-line-1 {
	margin-bottom: 0;
}

p#copy-hifiberry-os {
	display: none;
}

.hifiberry-os p#copy-hifiberry-os {
	display: block;
}

.hifiberry-os p#copy-beocreate {
	display: none;
}

#product-information header {
	background-color: transparent;
	pointer-events: none;
	border: none;
	box-shadow: none;
}


.setup #product-information header {
	display: block;
}

#product-information header > * {
	pointer-events: all;
}

@media only screen and (max-width: 620px) {

#product-information header {
	position: fixed;
	top: 20px;
	box-shadow: none;
	/*display: none;*/
	left: 20px;
}

#about-texts {
	text-align: center;
}

}


@media only screen and (min-width: 621px) {
	
	#product-overview .scroll-invitation {
		/*width: 50%;
		margin-left: auto;*/
	}
	
	
	#product-overview, 
	#about-product {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-top: 0;
	}
	
	#product-overview-image-wrap-inline, #about-logos {
		/*box-shadow: 1px 0 var(--menu-line);*/
		/*background-color: var(--spindle);*/
		/*box-sizing: border-box;*/
		width: 50%;
		margin-bottom: 0;
		margin-left: 0;
		max-height: 100%;
		height: 100%;
		/*padding: 20px;*/
		padding-left: 20px;
		margin-right: -20px;
	}
	
	#about-logos {
		margin-right: 0;
	}
	
	
	#about-product {
		position: relative;
	}
	
	.create-logo {
		margin-top: 0;
	}
	
	.hifiberry-os .hifiberry-logo {
		margin-top: 0;
	}

	
}

@media only screen and (min-width: 800px) {
	
	
}