/* @override 
	http://beocreate-core.local/extensions/sources/sources.css
	http://hifiberry.local:81/extensions/sources/sources.css */
	
.active-source,
.focused-source {
	display: flex;
	align-items: center;
	opacity: 0;
	transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
}

.active-source.visible,
.focused-source.visible {
	opacity: 0.5;
}

.active-source.popup-button,
.focused-source.popup-button {
	height: 35px;
	margin-left: -10px;
	margin-right: -15px;
	padding-left: 10px;
	padding-right: 32px;
}

.active-source.popup-button:after,
.focused-source.popup-button:after {
	margin-right: 6px;
}

.no-touch .active-source.popup-button:hover,
.no-touch .focused-source.popup-button:hover,
.touch .active-source.popup-button:active,
.touch .focused-source.popup-button:active {
	opacity: 1;
	/*background-color: var(--button-bg);*/
}

.active-source-name,
.focused-source-name {
	padding-top: var(--font-spacing-compensation);
	/*margin-left: 10px;*/
	font-weight: 500;
	letter-spacing: var(--uppercase-spacing);
	text-transform: uppercase;
	font-size: 0.7em;
	transition: opacity 0.5s ease;
}

.active-source-icon,
.focused-source-icon {
	margin-right: 10px;
}

.active-source.icon-only .active-source-name,
.focused-source.icon-only .focused-source-name {
	display: none;
}

.active-source.icon-only,
.focused-source.icon-only {
	padding-right: 10px;
}