/* @override 
	http://beocreate-core.local/extensions/sources/sources.css */
	
.active-source {
	display: flex;
	align-items: center;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.active-source.visible {
	opacity: 0.5;
}

.active-source-name {
	padding-top: var(--font-spacing-compensation);
	margin-left: 10px;
	font-weight: 500;
	letter-spacing: var(--uppercase-spacing);
	text-transform: uppercase;
	font-size: 0.7em;
}