/* @group Normal */

@font-face {
    font-family: Metropolis;
    src: url(Metropolis-Thin.otf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: url(Metropolis-ExtraLight.otf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: url(Metropolis-Light.otf);
    font-weight: 250;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: url(Metropolis-Regular.otf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: url(Metropolis-Medium.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: url(Metropolis-SemiBold.otf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: url(Metropolis-Bold.otf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: url(Metropolis-ExtraBold.otf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: url(Metropolis-Black.otf);
    font-weight: 800;
    font-style: normal;
}

/* @end */

/* @group Italic */

@font-face {
    font-family: Metropolis;
    src: url(Metropolis-ThinItalic.otf);
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: url(Metropolis-ExtraLightItalic.otf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: url(Metropolis-LightItalic.otf);
    font-weight: 250;
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: url(Metropolis-RegularItalic.otf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: url(Metropolis-MediumItalic.otf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: url(Metropolis-SemiBoldItalic.otf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: url(Metropolis-BoldItalic.otf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: url(Metropolis-ExtraBoldItalic.otf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: url(Metropolis-BlackItalic.otf);
    font-weight: 800;
    font-style: italic;
}

/* @end */