<div class="menu-screen" id="ui-settings" data-icon="eye.svg" data-menu-title="Display" data-built-in="1" data-context="general-settings/more">
	
	<header>
		<div class="back-button master setup"></div>
		<h1>Display</h1>
	</header>
	
	<div class="scroll-area">
		<div class="menu-content">
			<div class="ui-appearance-mode">
				<h2>Colour scheme</h2>
				<p>The choice is specific to this device/browser.</p>
				<div class="menu-item checkmark left icon" onclick="beo.setAppearance(null, true);" id="ui-appearance-auto">
					<div class="menu-icon" style="-webkit-mask-image: url(common/symbols-black/checkmark.svg); mask-image: url(common/symbols-black/checkmark.svg);"></div>
					<div class="menu-text-wrap">
						<div class="menu-label">Automatic</div>
					</div>
				</div>
				<div class="menu-item checkmark left icon" onclick="beo.setAppearance(false, true);" id="ui-appearance-light">
					<div class="menu-icon" style="-webkit-mask-image: url(common/symbols-black/checkmark.svg); mask-image: url(common/symbols-black/checkmark.svg);"></div>
					<div class="menu-text-wrap">
						<div class="menu-label">Light</div>
					</div>
				</div>
				<div class="menu-item checkmark left icon" onclick="beo.setAppearance(true, true);" id="ui-appearance-dark">
					<div class="menu-icon" style="-webkit-mask-image: url(common/symbols-black/checkmark.svg); mask-image: url(common/symbols-black/checkmark.svg);"></div>
					<div class="menu-text-wrap">
						<div class="menu-label">Dark</div>
					</div>
				</div>
			</div>
			
			<div class="external-artwork-settings">
				<h2>Now playing</h2>
				<p>Download album cover from the internet...</p>
				<div class="menu-item checkmark left icon" onclick="now_playing.setUseExternalArtwork('never');" id="external-artwork-never">
					<div class="menu-icon" style="-webkit-mask-image: url(common/symbols-black/checkmark.svg); mask-image: url(common/symbols-black/checkmark.svg);"></div>
					<div class="menu-text-wrap">
						<div class="menu-label">Never</div>
					</div>
				</div>
				<div class="menu-item checkmark left icon" onclick="now_playing.setUseExternalArtwork('missing');" id="external-artwork-missing">
					<div class="menu-icon" style="-webkit-mask-image: url(common/symbols-black/checkmark.svg); mask-image: url(common/symbols-black/checkmark.svg);"></div>
					<div class="menu-text-wrap">
						<div class="menu-label">If Source Has No Cover</div>
					</div>
				</div>
				<div class="menu-item checkmark left icon" onclick="now_playing.setUseExternalArtwork('auto');" id="external-artwork-auto">
					<div class="menu-icon" style="-webkit-mask-image: url(common/symbols-black/checkmark.svg); mask-image: url(common/symbols-black/checkmark.svg);"></div>
					<div class="menu-text-wrap">
						<div class="menu-label">If Higher Resolution</div>
					</div>
				</div>
				<div class="menu-item checkmark left icon" onclick="now_playing.setUseExternalArtwork('always');" id="external-artwork-always">
					<div class="menu-icon" style="-webkit-mask-image: url(common/symbols-black/checkmark.svg); mask-image: url(common/symbols-black/checkmark.svg);"></div>
					<div class="menu-text-wrap">
						<div class="menu-label">Always</div>
					</div>
				</div>
			</div>
			
			<div class="external-display-settings hidden">
				<h2>Connected display</h2>
				<div class="menu-item toggle" id="external-display-toggle" onclick="ui_settings.toggleDisplay();">
					<div class="menu-label">Use Connected Display</div>
					<div class="menu-toggle"></div>
				</div>


				<div class="menu-item" id="screensaver-mode" onclick="beo.ask('screensaver-settings-prompt');">
					<div class="menu-label">Screensaver</div>
					<div class="menu-value"></div>
				</div>

				<p class="experiment">Show the user interface on a display connected to the Raspberry Pi (experimental feature).</p>
			</div>
			
		</div>
	</div>
	
	<div class="ask-menu" id="navigation-mode-menu">
		<h2>Navigation shortcuts</h2>
		<div id="navigation-mode-list">
		
		</div>
		<div class="ask-buttons">
			<div class="button pill grey default cancel" onclick="beo.ask();">Cancel</div>
		</div>
	</div>

	<div class="ask-menu" id="screensaver-settings-prompt">
		<h2>Screensaver</h2>
		<p>Select how long before the screensaver starts.</p>

		<div class="screensaver-timeout-selector">
			<div class="menu-item checkmark left icon" onclick="ui_settings.setScreensaverTimeout(1);" id="screensaver-timeout-1">
				<div class="menu-icon" style="-webkit-mask-image: url(common/symbols-black/checkmark.svg); mask-image: url(common/symbols-black/checkmark.svg);"></div>
				<div class="menu-label">1 Minute</div>
			</div>
			<div class="menu-item checkmark left icon" onclick="ui_settings.setScreensaverTimeout(5);" id="screensaver-timeout-5">
				<div class="menu-icon" style="-webkit-mask-image: url(common/symbols-black/checkmark.svg); mask-image: url(common/symbols-black/checkmark.svg);"></div>
				<div class="menu-label">5 Minutes</div>
			</div>
			<div class="menu-item checkmark left icon" onclick="ui_settings.setScreensaverTimeout(10);" id="screensaver-timeout-10">
				<div class="menu-icon" style="-webkit-mask-image: url(common/symbols-black/checkmark.svg); mask-image: url(common/symbols-black/checkmark.svg);"></div>
				<div class="menu-label">10 Minutes</div>
			</div>
			<div class="menu-item checkmark left icon" onclick="ui_settings.setScreensaverTimeout(15);" id="screensaver-timeout-15">
				<div class="menu-icon" style="-webkit-mask-image: url(common/symbols-black/checkmark.svg); mask-image: url(common/symbols-black/checkmark.svg);"></div>
				<div class="menu-label">15 Minutes</div>
			</div>

			<hr>
			
			<div class="menu-item checkmark left icon" onclick="ui_settings.setScreensaverTimeout('never');" id="screensaver-timeout-never">
				<div class="menu-icon" style="-webkit-mask-image: url(common/symbols-black/checkmark.svg); mask-image: url(common/symbols-black/checkmark.svg);"></div>
				<div class="menu-label">Never</div>
			</div>
		</div>
		<div class="ask-buttons">
			<div class="button pill black cancel default" onclick="beo.ask();">Cancel</div>
		</div>
	</div>
</div>

<div id="screensaver" class="overlay hidden" data-asset-path="extensions/setup" data-stylesheet="screensaver.css">
	<div class="background"></div>
	<div id="screensaver-now-playing" class="now-playing-titles" v-bind:class="{visible: notifyLong > 0}">
		<h1>
			<transition name="now-playing-fade" mode="out-in">
				<span class="title" :key="metadata.title" v-if="metadata.title">{{ metadata.title }}&nbsp;</span>
			</transition>
		</h1>
		<h2>
			<transition name="now-playing-fade" mode="out-in">
				<span class="artist" :key="metadata.artist" v-if="metadata.title && metadata.artist">{{ metadata.artist }}&nbsp;</span>
			</transition>
		</h2>
	</div>
</div>
<script type="text/javascript" charset="utf-8" src="€/ui-settings-client.js"></script>