.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 1.0); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#screensaver .mini-now-playing {
    transition: 0.5s linear 0s;
}

#screensaver .background {
    transition: 1s linear 0s;
    opacity: 0;
}

#screensaver .create-dot {
    position: absolute;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    margin-top: -50px;
}